#Let's code TF-IDF

**Four Documents use in this tutorial**

>doc1: "The sky is blue"

>doc2: "The sun is bright today."

>doc3: "The sun in the sky is bright."

>doc4: "We can see the shining sun, the bright sun."

##From the Scratch

In [ ]:
#the sentences(documnets) used to calculate the TF-IDF
doc1 = "the sky is blue"

doc2 = "the sun is bright today"

doc3 = "the sun in the sky is bright"

doc4 = "we can see the shining sun the bright sun"

In [ ]:
#split the sentences in to words and assign the list to bow(bag of word) variables
bow1 = doc1.split(" ")
bow2 = doc2.split(" ")
bow3 = doc3.split(" ")
bow4 = doc4.split(" ")

In [ ]:
print (bow1, bow2, bow3, bow4)

['the', 'sky', 'is', 'blue'] ['the', 'sun', 'is', 'bright', 'today'] ['the', 'sun', 'in', 'the', 'sky', 'is', 'bright'] ['we', 'can', 'see', 'the', 'shining', 'sun', 'the', 'bright', 'sun']

In [122]:
#The union() method returns a set that contains all items from the original set, and all items from the specified set(s).
#If an item is present in more than one set, the result will contain only one appearance of this item.
wordSet = set(bow1).union(set(bow2),set(bow3),set(bow4))

In [123]:
#lets view the wordSet created using union fuction with uniqe words of abve 4 sentences
wordSet

{'blue',
 'bright',
 'can',
 'in',
 'is',
 'see',
 'shining',
 'sky',
 'sun',
 'the',
 'today',
 'we'}

**Dictionaries** are Pythonâ€™s implementation of a data structure that is more generally known as an associative array. A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.

You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value:

![image.png]()

In [ ]:
#Let's create 4 dictionaries to hold the terms(words) in wordSet and the count of those words appear in each and every sentences(documents) considered above
#Let's initialise the count of all words to 0 first
wordDict1 = dict.fromkeys(wordSet, 0) 
wordDict2 = dict.fromkeys(wordSet, 0)
wordDict3 = dict.fromkeys(wordSet, 0)
wordDict4 = dict.fromkeys(wordSet, 0)

In [ ]:
#Let's view wordDict1 we created using above code to get an idea about the dictionary we created
#That dictionary contain all the words we uniquely identified using union function above 
wordDict1

{'blue': 0,
 'bright': 0,
 'can': 0,
 'in': 0,
 'is': 0,
 'see': 0,
 'shining': 0,
 'sky': 0,
 'sun': 0,
 'the': 0,
 'today': 0,
 'we': 0}

In [ ]:
#Now we will get the count of each word appear in each sentence seperately and update the dictionaries respecte to the sentence
#eg: for the sentence1 (doc1) we take the count and update wordDict1 dictionary.
for word in bow1:
    wordDict1[word]+=1
    
for word in bow2:
    wordDict2[word]+=1

for word in bow3:
    wordDict3[word]+=1

for word in bow4:
    wordDict4[word]+=1

In [124]:
#Let's view the wordDict1 to get an idea
wordDict1

{'blue': 1,
 'bright': 0,
 'can': 0,
 'in': 0,
 'is': 1,
 'see': 0,
 'shining': 0,
 'sky': 1,
 'sun': 0,
 'the': 1,
 'today': 0,
 'we': 0}

**Pandas** is an open source Python package that is most widely used for data science/data analysis and machine learning tasks. It is built on top of another package named Numpy, which provides support for multi-dimensional arrays. As one of the most popular data wrangling packages, Pandas works well with many other data science modules inside the Python ecosystem, and is typically included in every Python distribution, from those that come with your operating system to commercial vendor distributions like ActiveStateâ€™s ActivePython. 
Pandas makes it simple to do many of the time consuming, repetitive tasks associated with working with data, including:

* Data cleansing
* Data fill
* Data normalization
* Merges and joins
* Data visualization
* Statistical analysis
* Data inspection
* Loading and saving data and much more

In [125]:
import pandas as pd
#Using pandas library create a dataframe(table) using the dictionaries created above to visualise the data with the frequency of each word appear in each sentences
pd.DataFrame([wordDict1, wordDict2, wordDict3, wordDict4])

   blue  see  today  the  can  sun  in  is  we  sky  bright  shining
0     1    0      0    1    0    0   0   1   0    1       0        0
1     0    0      1    1    0    1   0   1   0    0       1        0
2     0    0      0    2    0    1   1   1   0    1       1        0
3     0    1      0    2    1    2   0   0   1    0       1        1

Let's define a function to compute the *Term Frequency(TF)*.

This function can get 2 input parameters as, *wordDict* and *bow*

First we create a new dictionary variable(*tfDict*) to hold the data related to the term Frequency values

Take the count of the terms in a perticular sentence and save it inside *bowCount* variable

Then using a for loop iterate throgh *wordDict items*, and update the TF value for each word in wordDict dictionary,

TF = No. times the word occure in the text(document/doc1)/ Total No. words in the text(bowCount)

At the end this function will return the dictionary with the TF values of the given sentence(document)

In [ ]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [ ]:
#Copute the TF values for each sentence
tfBow1 = computeTF(wordDict1, bow1)
tfBow2 = computeTF(wordDict2, bow2)
tfBow3 = computeTF(wordDict3, bow3)
tfBow4 = computeTF(wordDict4, bow4)

In [ ]:
#Let's view the term frequency values of tfBow1
tfBow1

{'blue': 0.25,
 'bright': 0.0,
 'can': 0.0,
 'in': 0.0,
 'is': 0.25,
 'see': 0.0,
 'shining': 0.0,
 'sky': 0.25,
 'sun': 0.0,
 'the': 0.25,
 'today': 0.0,
 'we': 0.0}

In [ ]:
#Let's view the term frequency values of tfBow2
tfBow2

{'blue': 0.0,
 'bright': 0.2,
 'can': 0.0,
 'in': 0.0,
 'is': 0.2,
 'see': 0.0,
 'shining': 0.0,
 'sky': 0.0,
 'sun': 0.2,
 'the': 0.2,
 'today': 0.2,
 'we': 0.0}

Let's create a function to calculate the Inverse Document Frequency,

Take one input parameter as docList which contain all the documents(Doc1,Doc2, Doc3,Doc4) that we consider as a list.

Create a dictionary to hold the IDF values. 

Take the number of documents using len function and save it in 'N' variable

Using the first for loop we traverse through all the documents in the doclist and inner for loop in first for loop will traverse through the words in word dictionaries of those documents (wordDicts) and count the documents contain specific word in it and save it in 'val' varialble 

Using the second for loop we calculate the values of Inverse Document Frequency

>IDF = log(Total No. of documents/ No. Documents which contain specific word in it)

Finally this function will return the dictionary with the words and its IDF values.

In [130]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [131]:
#Lets use the computeIDF function to compute IDF
idfs = computeIDF([wordDict1, wordDict2, wordDict3, wordDict4])

In [132]:
#Lets view the dictionary we created using above function to get some idea
idfs

{'blue': 0.6020599913279624,
 'bright': 0.12493873660829992,
 'can': 0.6020599913279624,
 'in': 0.6020599913279624,
 'is': 0.12493873660829992,
 'see': 0.6020599913279624,
 'shining': 0.6020599913279624,
 'sky': 0.3010299956639812,
 'sun': 0.12493873660829992,
 'the': 0.0,
 'today': 0.6020599913279624,
 'we': 0.6020599913279624}

In [ ]:
#This function will calculate the TF*IDF value in a dictionary format
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [ ]:
tfidfBow1 = computeTFIDF(tfBow1, idfs)
tfidfBow2 = computeTFIDF(tfBow2, idfs)
tfidfBow3 = computeTFIDF(tfBow3, idfs)
tfidfBow4 = computeTFIDF(tfBow4, idfs)

In [ ]:
pd.DataFrame([tfidfBow1, tfidfBow2, tfidfBow3, tfidfBow4])

       blue       see     today  the  ...        we       sky    bright   shining
0  0.150515  0.000000  0.000000  0.0  ...  0.000000  0.075257  0.000000  0.000000
1  0.000000  0.000000  0.120412  0.0  ...  0.000000  0.000000  0.024988  0.000000
2  0.000000  0.000000  0.000000  0.0  ...  0.000000  0.043004  0.017848  0.000000
3  0.000000  0.066896  0.000000  0.0  ...  0.066896  0.000000  0.013882  0.066896

[4 rows x 12 columns]

## Using Sklearn

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer()

In [133]:
response = tfidf.fit_transform([doc1, doc2, doc3, doc4])

In [ ]:
feature_names = tfidf.get_feature_names()
for col in response.nonzero()[1]:
    print (feature_names[col], ' - ', response[0, col])

blue  -  0.6591911178676787
is  -  0.42075315164463567
sky  -  0.5197138488789809
the  -  0.3439932714296342
today  -  0.0
bright  -  0.0
sun  -  0.0
is  -  0.42075315164463567
the  -  0.3439932714296342
in  -  0.0
bright  -  0.0
sun  -  0.0
is  -  0.42075315164463567
sky  -  0.5197138488789809
the  -  0.3439932714296342
shining  -  0.0
see  -  0.0
can  -  0.0
we  -  0.0
bright  -  0.0
sun  -  0.0
the  -  0.3439932714296342